@import "../base/variables";

.btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  cursor: pointer;
  background: $lightblue;
  color: $lightColor;
  border: none;
  border-radius: 5px;

  &:hover {
    transform: scale(0.98);
  }
  &--outline {
    background-color: transparent;
    border: 1px solid $lightColor;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 8px 15px;
    @include respond(tablet) {
      margin-left: 0;
      transform: translateX(0);
      padding: 0.625rem 1.875rem;
    }
  }

  &--dark {
    background-color: $darkerBlue;
    padding: 8px 15px;
    @include respond(tablet) {
      padding: 0.625rem 1.875rem;
    }
  }
}
