@import "../base/variables";
@import "../base/mixins";

.cloud {
  background: $lightblue;
  color: $lightColor;
  .grid {
    grid-template-columns: 1fr;
    @include respond(tablet) {
      grid-template-columns: 4fr 3fr;
    }
  }

  &__subtitile {
    font-size: 2.5rem;
    @include respond(tablet) {
      font-size: 3rem;
    }
  }

  &__description {
    font-size: 1.25rem;
  }

  &__img {
    margin: auto;
    width: 78%;
    @include respond(tablet) {
      margin: 0;
      width: 100%;
    }
  }
}
