@import "../base/variables";
@import "../base/mixins";

.navbar {
  background-color: $lightblue;
  color: $lightColor;
  height: 110px;

  @include respond(tablet) {
    height: 70px;
  }

  .flex {
    flex-direction: column;
    @include respond(tablet) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__navegation {
    display: flex;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    @include respond(tablet) {
      padding: 0;
      background-color: $lightblue;
    }
  }

  &__links {
    color: $lightColor;
    padding: 0.625rem;
    margin: 0 0.3125rem;

    &:hover {
      border-bottom: 2px solid $lightColor;
    }
  }
}
