@import "../base/variables";

.navbar {
  background-color: $lightblue;
  color: $lightColor;
  height: 70px;

  .flex {
    justify-content: space-between;
  }

  &__navegation {
    display: flex;
  }

  &__links {
    color: $lightColor;
    padding: 0.625rem;
    margin: 0 0.3125rem;

    &:hover {
      border-bottom: 2px solid $lightColor;
    }
  }
}
