@import "../base/variables";
@import "../base/mixins";
@import "./animations";

.showcase {
  height: auto;
  background-color: $lightblue;
  color: $lightColor;
  position: relative;
  @include respond(tablet) {
    height: 400px;
  }

  &__info {
    animation: slideInFromTop 1s ease-in;
    @include respond(tablet) {
      animation: slideInFromLeft 1s ease-in;
    }
  }

  &__title {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    @include respond(tablet) {
      margin-top: 0;
      text-align: left;
    }
  }

  &__description {
    text-align: center;
    margin-top: 40px;
    @include respond(tablet) {
      margin: 1.25rem 0;
      text-align: left;
    }
  }

  &__form {
    position: relative;
    top: 60px;
    height: 350px;
    padding: 1.25rem;
    z-index: 100;
    justify-self: center;
    animation: slideInFromBottom 1s ease-in;
    margin: auto;
    @include respond(tablet) {
      justify-self: flex-end;
      margin: 0;
      animation: slideInFromRight 1s ease-in;
      width: 400px;
    }
    .hidden {
      visibility: hidden;
      height: 0;
    }
  }

  &__form-control {
    margin: 1.875rem 0;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: $lightColor;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
  }

  &::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: $lightColor;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
  }

  .grid {
    overflow: visible;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @include respond(tablet) {
      grid-template-columns: 55% 45%;
      gap: 1.875rem;
    }
  }
}

.showcase__form [type="text"],
.showcase__form [type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1rem;
}
.showcase__form input {
  outline: none;
}
